@import '../../colors';
@import '../../mixins';

.button {
  @include button-shape;
  transition: background-color 0.2s;

  &:empty {
    display: none;
  }

  &:active {
    background-color: transparent;
    box-shadow: none;
  }
}
