@import '../../colors';

.color-bracket {
  color: $bracket;
}

.color-comment {
  color: $comment;
}

.color-cursor {
  color: $cursor;
}

.color-keyword {
  color: $keyword;
}

.color-method {
  color: $method;
}

.color-property {
  color: $property;
}

.color-object {
  color: $object;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}
