.header {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;

  h1 {
    margin: 0;
  }
}

.githubLink {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;

  img {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}
