@import '../colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: $bg;
  color: $white;
  font-family: 'Fira Mono', monospace;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

a {
  color: $method;

  outline: none;

  &:focus-visible {
    font-weight: bold;
  }
  &:visited {
    color: $method;
  }
}
