$white: #f1eff7;
$bg: #292a44;
$bg-light: #333454;

$cursor: #94f2e7;
$dotColor: #f92672;

// Typography
$bracket: #eedb68;
$comment: #6d6db5;
$keyword: #e378fe;
$method: #2ddca5;
$object: #66d9ef;
$property: #ffa8fe;

$focus-outline: 0 0 0 2px $cursor;
