@import './colors';

$button-shadow: 0 0 0.4em 0 darken($bg, 2%);
$button-shadow-outline: $button-shadow, $focus-outline;

@mixin button-shape() {
  appearance: none;
  background-color: $bg-light;
  border-radius: 0.5em;
  border: 0;
  box-sizing: content-box;
  color: $white;
  font-family: inherit;
  font-size: 1rem;
  height: 1.75rem;
  outline: none;
  box-shadow: $button-shadow;
  padding: 0.5em 1em;
  min-width: 10em;

  &:focus-visible {
    box-shadow: $button-shadow-outline;
  }

  &.size-xl {
    font-size: 1.5rem;
  }

  &.size-sm {
    font-size: 0.8em;
  }

  &.size-xs {
    font-size: 12px;
    padding: 0.3em 0.6em;
    min-width: 5em;
  }
}
