@import "./colors";

$chip-shadow: 0 0 1rem 0 darken($bg, 2%);
$chip-shadow-outline: $chip-shadow, $focus-outline;

@mixin chip-shape() {
  appearance: none;
  background-color: $bg-light;
  border-radius: 2em;
  border: 0;
  box-sizing: content-box;
  color: $white;
  font-family: inherit;
  font-size: 1rem;
  height: 1.75rem;
  outline: none;
  box-shadow: $chip-shadow;
  padding: 0.5em 1em;
  min-width: 10em;

  &:focus-visible {
    box-shadow: $chip-shadow-outline;
  }

  &.size-xl {
    font-size: 1.5rem;
  }

  &.size-sm {
    font-size: 0.8em
  }
}
